
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.DS_Store
.idea/modules.xml
.idea/UR_Playground.iml
.idea/preferred-vcs.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
3DFiles/UR_lowres01.blend
3DFiles/UR_lowres01.blend1
3DFiles/UR_lowres01_BOOLAPPLIED.blend
3DFiles/UR_lowres01_BOOLAPPLIED.blend1
3DFiles/UR_lowres01_export.blend
3DFiles/UR_lowres01_export.blend1
3DFiles/UR_lowres01_export_new.blend1
*.blend
